# Python
__pycache__/
*.pyc
*.pyo
.Python
env/
venv/
*.egg-info/

# Model weights & data
models/*.h5
models/*.keras
data/raw/
data/train/
data/val/
data/test/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
